body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff0000;
    color: #0015ff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}


section {
    padding: 20px;
    margin: 20px;
    background-color: #ff00a2;
    border: 1px solid #ffffff;
}


footer {
    background-color: #004cff;
    color: #fff;
    text-align: center;
    padding: 10px;
}


a:hover {
    color: #555;
}