body {
 background-image: url();
 background-repeat: no-repeat;
 background-size: cover;
}
h1{
    text-align: center;
    color: black;
    font-size: 60px;
}
.botao{
    background-color: brown;
    color: blue;
    border: none;
    text-align: center;
    padding: 12px 19px;
    display: inline-block;
    cursor: pointer;
}