body {
 background-image: url(pngtree-fire-phoenix-wallpaper-hd-image_2670157.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}
h1{
    text-align: center;
    color: black;
    font-size: 60px;
}
.botao{
    background-color: brown;
    color: blue;
    border: none;
    text-align: center;
    padding: 22px 30px;
    display: inline-block;
    cursor: pointer;
}